html,
body {
  font-family: Roboto, arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 26pt;
  text-align: center;
}

a {
/*  background-color: plum;*/
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a:hover {
  background-color: black;
  color: white;
}

#main {
  display: flex;
  justify-content: center;
  width: 100%;
}

#container {
  max-width: 768px;
}

.gridy > ul {
  /* text-transform: uppercase; */
  list-style: none outside none;
  margin:0; padding: 0;
  /* text-align: center; */
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: auto;
  grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 35px;
  grid-column-gap: 10px;
  padding: 20px 0;
}
.gridy > ul > li {
  display: inline;
  /* padding: 5px 18.3px; */
  /* font-size: 14px; */
  /* font-weight: 400; */
  /* line-height: 17px; */
  padding: 5px;
}

.gridy > ul > li > a > img, .gridy > ul > li > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 1);
}
